.App {
  width: 800px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 10px;
}

.home{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 60px;
}

.steps{
  background-image: url('/./public/images/bg-sidebar-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  border-radius: 10px;
  padding-top: 25px;
  padding-left: 20px;
  height: 70vh;
}

.step-number{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.step-number p{
  margin-bottom: 0;
  color: hsl(231, 11%, 63%);
}

.step-number h4{
  margin-top: 0;
  color: hsl(231, 100%, 99%);
  font-weight: 600;
}

.step-number span{
  color: white;
  border: 1px solid hsl(229, 24%, 87%);
  padding: 8px 13px;
  border-radius: 50%;
}

.personal-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personal-info form{
  width: 100%;
}

.personal-info h1{
  margin: 0;
  color: hsl(213, 96%, 18%);
}

.personal-info p{
  margin-top: 0;
  color: hsl(231, 11%, 63%);
  font-size: 16px;
}

.info-input{
  width: 100%;
  margin-bottom: 20px;
}

.info-input h4{
  margin: 0;
  color: hsl(213, 96%, 18%);
}

.info-input input{
  width: 95%;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  outline: none;
  height: 20px;
  padding: 5px 5px 5px 10px;
  font-size: 15px;
}

.personal-info button{
  align-self: flex-end;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: hsl(213, 96%, 18%);
}